---
# tasks file for tomcat
- name: "TASK begins to download tar.gz file from Web"
  ansible.builtin.get_url:
    url: "{{ TOMCAT_URL }}"
    dest: "{{ TOMCAT_DEST }}"
- name: "EXTRACT tar.gz file in {{ TOMCAT_DEST }} Location"
  unarchive:
    src: "{{ TOMCAT_DEST }}/{{ TOMCAT_FILE }}"
    dest: "{{ TOMCAT_DEST }}"
    remote_src: yes

- name: "COPY {{ ARTIFACT_FILE }} file to webapps folder before start service"
  copy:
    src: files/{{ ARTIFACT_FILE }}
    dest: "{{ WAR_DES }}"

- name: "START tomcat services"
  shell: sh {{ TOMCAT_DEST }}/apache-tomcat-9.0.89/bin/startup.sh

- name: "SLEEP for 20 seconds to up SERVICES.."
  ansible.builtin.pause:
    seconds: 20

- name: "BLUE/GREEN Deployment kicks in.."
  shell: sh {{ TOMCAT_DEST }}/apache-tomcat-9.0.89/bin/shutdown.sh

- name: "SLEEP for 20 seconds to calm down service stopping.."
  ansible.builtin.pause:
    seconds: 20

- name: "COPY NEW index.jsp file to webapps folder before start service"
  copy:
    src: files/index.jsp
    dest: /tmp/apache-tomcat-9.0.89/webapps/lms/index.jsp

- name: "Starting tomcat services"
  shell: sh {{ TOMCAT_DEST }}/apache-tomcat-9.0.89/bin/startup.sh





