---
# tasks file for tomcat
- name: "DOWNLOAD {{ TOMCAT_FILE }} file from WEB"
  ansible.builtin.get_url:
    url: "{{ TOMCAT_URL }}"
    dest: "{{ TOMCAT_DEST }}"
- name: "EXTRACT {{ TOMCAT_FILE }} file in {{ TOMCAT_DEST }} Location"
  unarchive:
    src: "{{ TOMCAT_DEST }}/{{ TOMCAT_FILE }}"
    dest: "{{ TOMCAT_DEST }}"
    remote_src: yes

- name: "COPY {{ ARTIFACT_FILE }} file to webapps folder before SERVICE STARTS"
  copy:
    src: files/{{ ARTIFACT_FILE }}
    dest: "{{ WAR_DES }}"

- name: "START TOMCAT SERVICES"
  shell: sh {{ TOMCAT_DEST }}/apache-tomcat-9.0.89/bin/startup.sh

- name: "SLEEP for 20 seconds SERVICES TO BE UP FULLY"
  ansible.builtin.pause:
    seconds: 20

- name: "BLUE/GREEN DEPLOYMENT KICKS IN"
  shell: sh {{ TOMCAT_DEST }}/apache-tomcat-9.0.89/bin/shutdown.sh

- name: "SLEEP for 20 seconds SERVICES TO BE DOWN FULLY"
  ansible.builtin.pause:
    seconds: 20

- name: "COPY new_release {{ JSP_FILE }} file to webapps folder before START THE SERVICES"
  copy:
    src: files/{{ JSP_FILE }}
    dest: /tmp/apache-tomcat-9.0.89/webapps/lms/{{ JSP_FILE }}

- name: "START TOMCAT SERVICES"
  shell: sh {{ TOMCAT_DEST }}/apache-tomcat-9.0.89/bin/startup.sh
